# Pinned versions of IREE dependencies.
wave-lang==3.8.0
# Keep these versions synced with SHORTFIN_IREE_GIT_TAG in shortfin/CMakeLists.txt
--find-links https://iree.dev/pip-release-links.html
iree-base-compiler==3.9.0rc20251105
iree-base-runtime==3.9.0rc20251105
iree-turbine==3.9.0rc20251105
